.gallery-section {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
}

.gallery-title {
    font-size: 1.5em;
    margin-top: 20px;
    position: relative;
}

#gallery-title::after {
    content: '';
    display: block;
    width: 6.5ch;
    height: 4px;
    background-color: violet;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20;
}


.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Use width instead of min-width for better responsiveness */
    height: 80vh; /* Fixed height for the gallery container */
    background-color: #333; /* Fallback background color */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Use 'contain' to ensure full image is visible */
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    /* Initial background image will be set by JS on load */
    transition: background-image 0.5s ease-in-out; /* Smooth transition for image change */
}


.gallery-button {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 4rem;
    color: violet;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-bottom: 25px;
}

.gallery-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}


@media screen and (min-width: 820px) {
    .gallery-section {
        min-width: 90%;
        max-width: 90%;
    }
    .gallery {
        min-width: 90%;
        max-width: 90%;
    }
}