.gallery-section {
    min-width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-title {
    font-size: 1.5em;
    margin-top: 20px;
    position: relative;
}

#gallery-title::after {
    content: '';
    display: block;
    width: 6.5ch;
    height: 4px;
    background-color: violet;
    position: absolute;
    left: 30;
    bottom: -20;
}

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    min-height: 80vh;
    background-color: #f8f9fa;
    background: url('../images/Copilot_20250728_185951.png') no-repeat center;
    background-size: cover;
    border: 1px solid white;
    border-radius: 10px;
}

.gallery-button {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 4rem;
    color: violet;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-bottom: 25px;
}

.gallery-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}


@media screen and (min-width: 820px) {
    .gallery-section {
        min-width: 90%;
        max-width: 90%;
    }
    .gallery {
        min-width: 90%;
        max-width: 90%;
    }
}