body {
    background-color: blanchedalmond;
    padding: 0;
    margin: 0;
}


nav {
    background-color: black;
    color: white;
    padding: 10px;
    margin: none;
    text-align: center;
}

.hero {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/Copilot_20250728_185951.png") no-repeat center right;
    background-size: cover;
    z-index: -1;
}

.hero button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.hero button:hover {
    background-color: black;
    color: white;
    box-shadow: rgb(246, 245, 245) 0px 5px 15px;
}


.about {
    background-color: #e2e2e2;
    padding: 20px;
    text-align: center;
}

.contact {
    background-color: #f0f0f0;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}